TestDataGenerator/MessageLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="date" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:choice minOccurs="0">
					<xs:sequence>
						<xs:element name="context" type="xs:string"/>
						<xs:element name="test" type="xs:string"/>
					</xs:sequence>
					<xs:element name="location">
						<xs:complexType>
							<xs:attribute name="line" type="xs:string"/>
							<xs:attribute name="position" type="xs:string"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="severity" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Error"/>
						<xs:enumeration value="Warning"/>
						<xs:enumeration value="Information"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Generation"/>
						<xs:enumeration value="Schema Validation"/>
						<xs:enumeration value="Content Validation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="time" type="xs:time" use="required"/>
			<xs:attribute name="message" type="xs:string" use="required"/>
			<xs:attribute name="file" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
